.states-form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 5% 0;
}

.state-form-field-transition > label {
  width: 100%;
  display: inline-block;
  margin: 0.6rem 0;
}

.state-form-field-transition > input {
  margin-right: 1rem;
  /* margin: 0.6rem 0; */
  padding: 0.4rem 0.5rem;
  background-color: white;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0.2rem;
}

.state-form-field-final {
  margin: 0.6rem 0;
}

.states-form-actions {
  display: flex;
}

.states-form-actions > span {
  flex: 0 0 15%;
}

.states-form-actions > span > img {
  width: 100%;
  max-width: 2rem;
}
